*{
    font-family: 'Almarai', sans-serif;
    min-width: 400px;
    display: block;
}
.whatsapp{
    border: solid 5px orange;
    padding: 10px;
    border-radius: 9px;
}

.pay{
    margin: 20px;
     padding: 20px;
      justify-content: space-between;
      border: solid 3px orange;
      border-radius: 20px;
      max-width: 100%;
}
.code{
    padding: 10px;
    justify-content: space-between;
    border-radius: 15px;
    margin: 22px;

}

